/* App.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

h1, h2 {
  color: #333;
}

.auth-container, .home-container {
  text-align: center;
  margin-top: 50px;
}

.auth-container h2, .home-container h1 {
  font-size: 24px;
}

.auth-input {
  margin: 15px 0;
  padding: 10px;
  font-size: 16px;
  width: 200px;
}

.auth-button, .home-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
}

.auth-button:hover, .home-button:hover {
  background-color: #45a049;
}

.home-container {
  margin-top: 50px;
}

.auth-buttons {
  display: flex;
  justify-content: center;
}

.home-button {
  width: 100px;
}

.products-list {
  text-align: center;
  margin-top: 30px;
}

.products-list ul {
  list-style: none;
  padding: 0;
}

.products-list li {
  background: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px auto;
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-container {
  margin: 50px;
  text-align: center;
}

.cart-container ul {
  list-style: none;
  padding: 0;
}

.cart-container li {
  background: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px auto;
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
